.dishesPage {
    padding: 0 10px;
}

.top {
    display: flex;
    align-items: center;
}

.dishesPage h3 {
    display: inline-block;
    width: 85%;
}

.addDishBtn {
    width: 15%;
}

.dish {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.dishImg {
    width: 10%;
    border: 1px solid black;
    height: 96px;
}

.dishName {
    width: 40%;
    text-align: center;
}

.dishPrice {
    width: 15%;
}

.dishButtons {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.editDish,
.deleteDish {
    width: 45%;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}