.order {
    width: 600px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 0 10px;
}

.info,
.delivery{
    display: flex;
    justify-content: center;
}

.orderInfo,
.deliveryInfo {
    width: 33%;
    margin: 10px 0;
}

.completeOrder {
    display: block;
    margin: 5px auto;
}