header {
    border: 1px solid black;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

header p {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

h2 {
    width: 85%;
}

.switcher {
    width: 15%;
}